    </main>
  </div>
  <footer>
    <div class="footer-content">
        <div>
            <p>{{#site}}{{#author}}{{name}}{{/author}}{{/site}}{{#date}} © {{y}}{{/date}}</p>
            <p>created with <a href="http://www.getblades.org">Blades</a></p>
            <p>no JavaScript used</p>
        </div>
        <div class="site-footer-nav">
        {{#site}}
            {{#atom}}<a href="/atom.xml">Atom</a>{{/atom}}
            {{#rss}}<a href="/rss.xml">Rss</a>{{/rss}}
        {{/site}}
        </div>
    </div>
  </footer>
</body>
</html>
