{{>default_head.html}}
<article class="post">
	<header class="post-header">
		<h1 class="post-title">{{title}}</h1>
		{{>post_meta.html}}
	</header>
	<section class="post-content">{{content}}</section>
	<section class="gallery">
    {{#pictures}}
        <a class="thumbnail" href="{{permalink}}">
            <figure class="small-figure">
                <picture>
            		<source type="image/jpeg" srcset="/img/thumb/{{file}}.jpg">
            		<img class="gallery-photo" alt="{{alt}}" src="/img/thumb/{{file}}.jpg"/>
                </picture>
                <figcaption class="gallery-caption">{{caption}}</figcaption>
            </figure>
        </a>
    {{/pictures}}
	</section>
</article>
{{>foot.html}}
